.centerContent {
  margin: 50px auto;
  text-align: center;
  width: 50%;
  height: 100vh;
}

.activeStyle { 
  color: "blue"; 
  font-weight: "bold";
}

.navLinks {
  font-size: 16px;
  color: white;
  padding: 2em;
  text-decoration: none;
}


.accessibleButton {
  background-color: #F3C74F !important;
}

.accessibleButton:hover {
  background-color: #F3C74F !important;
}

.accessibleButton:focus {
  background-color: #F3C74F !important;
}
.MuiBottomNavigation-root {
  position: fixed;
  bottom: 0;
}

.app-title{
  text-align: center;
}
.hamburger svg{
  color: white;
}
.blog-header{
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
.chat-buttons{
  display: flex;
  height: 84vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.chat-button.MuiButton-containedPrimary {
  margin-bottom: 10%;
}