.header-1 {
  font-size: 2em;
  text-align: center;
}

.forum-bar-title {
  text-decoration: none;
  color: white;
}

.centerContent {
  margin: 50px auto;
  width: 80%;
  height: auto;
  padding: 0 5px;
  text-align: center;
}

.card-center {
  margin: 0 auto;
  max-width: 70%;
  border: 1px solid rgba(0,0,0,0.17);
  border-radius: 12px;
}

.card-row {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 40px;
}

.card-column {
  float: left;
  width: 25%;
  padding: 25px 0;
  display: block;
  margin: auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;;
  flex: 1 1 30%;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1110px) {
  .card-column {
    width: 100%;
    overflow-wrap: normal;
    display: flex;
    margin-bottom: 20px;
  }
}

.activeStyle { 
  color: "blue"; 
  font-weight: "bold";
}

.navLinks {
  font-size: 16px;
  color: white;
  padding: 2em;
  text-decoration: none;
}


.accessibleButton {
  background-color: #F3C74F !important;
}

.accessibleButton:hover {
  background-color: #F3C74F !important;
}

.accessibleButton:focus {
  background-color: #F3C74F !important;
}
.MuiBottomNavigation-root {
  position: fixed;
  bottom: 0;
}

.app-title {
  text-align: center;
}
.hamburger svg {
  color: white;
}
.blog-header {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin: 5px;
  padding: 30px;
}

.blog-text {
  padding: 0px 20px 40px 20px;
  word-wrap: break-word;
  font-size: 16px;
  margin-bottom: 40px;
  height: 100%;
}

.blog-list {
  text-decoration: none !important;
  font-size: 50px;
}

.chat-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 65vh;
}

.chat-button {
  display: flex;
  align-self: center;
  
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.chat-button.MuiButton-containedPrimary {
  margin-bottom: 10%;
}
.full-container {
  position: relative;
  width: 100%;
  height: 81vh;
}
.chat-area {
  padding: 5% 0;
  width: 100%;
  height: 90%;
  overflow: scroll;
}
.chat-input-area {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 10%;
  bottom: 0;
  left: -4.5%;
  box-shadow: 0px 0px 0px #888, 0px -1px 10px #888;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2%;
}
.chat-input-area input {
  width: 80%;
  height: 80%;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
}
.chat-input-area input[type=text]:focus {
  width: 80%;
  height: 80%;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  outline: none;
}
.chat-input-area button {
  background-color: #3f51b5;
  height: 80%;
  width: 10%;
  border-radius: 39%;
  border: 1px solid #aaaaaa;
  color: white;
  font-weight: bolder;
  font-size: 23px;
}
.message-sent {
  margin-right: 0;
  text-align: left;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 60%;
  margin-left: 40%;
  background-color: #eeeeee;
  border-radius: 6px;
  padding: 2% 5%;
}
.message-received {
  
  text-align: left;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 60%;
  
  background-color: #eeeeee;
  border-radius: 6px;
  padding: 2% 5%;
}